In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
#Import CSVs
cb201810 = "201810.csv"
cb201811 = "201811.csv"
cb201812 = "201812.csv"
cb201901 = "201901.csv"
cb201902 = "201902.csv"
cb201903 = "201903.csv"
cb201904 = "201904.csv"
cb201905 = "201905.csv"
cb201906 = "201906.csv"
cb201907 = "201907.csv"
cb201908 = "201908.csv"
cb201909 = "201909.csv"

In [4]:
CB201810 = pd.read_csv(cb201810)
CB201810.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2

In [5]:
CB201810.count()

tripduration               39138
starttime                  39138
stoptime                   39138
start station id           39138
start station name         39138
start station latitude     39138
start station longitude    39138
end station id             39138
end station name           39138
end station latitude       39138
end station longitude      39138
bikeid                     39138
usertype                   39138
birth year                 39138
gender                     39138
dtype: int64

In [6]:
CB201810 = CB201810.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201810.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2

In [7]:
CB201811 = pd.read_csv(cb201811)
CB201811.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0

In [8]:
CB201811.count()

tripduration               24910
starttime                  24910
stoptime                   24910
start station id           24910
start station name         24910
start station latitude     24910
start station longitude    24910
end station id             24910
end station name           24910
end station latitude       24910
end station longitude      24910
bikeid                     24910
usertype                   24910
birth year                 24910
gender                     24910
dtype: int64

In [9]:
CB201811 = CB201811.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201811.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0

In [10]:
CB201812 = pd.read_csv(cb201812)
CB201812.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [11]:
CB201812.count()

tripduration               20205
starttime                  20205
stoptime                   20205
start station id           20205
start station name         20205
start station latitude     20205
start station longitude    20205
end station id             20205
end station name           20205
end station latitude       20205
end station longitude      20205
bikeid                     20205
usertype                   20205
birth year                 20205
gender                     20205
dtype: int64

In [12]:
CB201812 = CB201812.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201812.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1

In [13]:
CB201901 = pd.read_csv(cb201901)
CB201901.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [14]:
CB201901.count()

tripduration               19676
starttime                  19676
stoptime                   19676
start station id           19676
start station name         19676
start station latitude     19676
start station longitude    19676
end station id             19676
end station name           19676
end station latitude       19676
end station longitude      19676
bikeid                     19676
usertype                   19676
birth year                 19676
gender                     19676
dtype: int64

In [15]:
CB201901 = CB201901.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201901.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1

In [16]:
CB201902 = pd.read_csv(cb201902)
CB201902.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [17]:
CB201902.count()

tripduration               18565
starttime                  18565
stoptime                   18565
start station id           18565
start station name         18565
start station latitude     18565
start station longitude    18565
end station id             18565
end station name           18565
end station latitude       18565
end station longitude      18565
bikeid                     18565
usertype                   18565
birth year                 18565
gender                     18565
dtype: int64

In [18]:
CB201902 = CB201902.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201902.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1

In [19]:
CB201903 = pd.read_csv(cb201903)
CB201903.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [20]:
CB201903.count()

tripduration               23606
starttime                  23606
stoptime                   23606
start station id           23606
start station name         23606
start station latitude     23606
start station longitude    23606
end station id             23606
end station name           23606
end station latitude       23606
end station longitude      23606
bikeid                     23606
usertype                   23606
birth year                 23606
gender                     23606
dtype: int64

In [21]:
CB201903 = CB201903.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201903.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1

In [22]:
CB201904 = pd.read_csv(cb201904)
CB201904.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [23]:
CB201904.count()

tripduration               33056
starttime                  33056
stoptime                   33056
start station id           33056
start station name         33056
start station latitude     33056
start station longitude    33056
end station id             33056
end station name           33056
end station latitude       33056
end station longitude      33056
bikeid                     33056
usertype                   33056
birth year                 33056
gender                     33056
dtype: int64

In [24]:
CB201904 = CB201904.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201904.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1

In [25]:
CB201905 = pd.read_csv(cb201905)
CB201905.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [26]:
CB201905.count()

tripduration               36135
starttime                  36135
stoptime                   36135
start station id           36135
start station name         36135
start station latitude     36135
start station longitude    36135
end station id             36135
end station name           36135
end station latitude       36135
end station longitude      36135
bikeid                     36135
usertype                   36135
birth year                 36135
gender                     36135
dtype: int64

In [27]:
CB201905 = CB201905.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201905.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,-74.049968,29224,Subscriber,1988,1

In [28]:
CB201906 = pd.read_csv(cb201906)
CB201906.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [29]:
CB201906.count()

tripduration               39430
starttime                  39430
stoptime                   39430
start station id           39430
start station name         39430
start station latitude     39430
start station longitude    39430
end station id             39430
end station name           39430
end station latitude       39430
end station longitude      39430
bikeid                     39430
usertype                   39430
birth year                 39430
gender                     39430
dtype: int64

In [30]:
CB201906 = CB201906.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201906.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1

In [31]:
CB201907 = pd.read_csv(cb201907)
CB201907.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [32]:
CB201907.count()

tripduration               43746
starttime                  43746
stoptime                   43746
start station id           43746
start station name         43746
start station latitude     43746
start station longitude    43746
end station id             43746
end station name           43746
end station latitude       43746
end station longitude      43746
bikeid                     43746
usertype                   43746
birth year                 43746
gender                     43746
dtype: int64

In [33]:
CB201907 = CB201907.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201907.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1

In [34]:
CB201908 = pd.read_csv(cb201908)
CB201908.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [35]:
CB201908.count()

tripduration               48711
starttime                  48711
stoptime                   48711
start station id           48711
start station name         48711
start station latitude     48711
start station longitude    48711
end station id             48711
end station name           48711
end station latitude       48711
end station longitude      48711
bikeid                     48711
usertype                   48711
birth year                 48711
gender                     48711
dtype: int64

In [36]:
CB201908 = CB201908.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201908.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.71654,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1

In [37]:
CB201909 = pd.read_csv(cb201909)
CB201909.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,Customer,1977,1
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,Subscriber,1965,1
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,Subscriber,1968,2

In [38]:
CB201909.count()

tripduration               49244
starttime                  49244
stoptime                   49244
start station id           49244
start station name         49244
start station latitude     49244
start station longitude    49244
end station id             49244
end station name           49244
end station latitude       49244
end station longitude      49244
bikeid                     49244
usertype                   49244
birth year                 49244
gender                     49244
dtype: int64

In [39]:
CB201909 = CB201909.rename(columns = {
    "tripduration": "Trip Duration (secs)",
    "starttime": "Start Date/Time",
    "stoptime": "Stop Date/Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude ",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "User's Birth Year",
    "gender": "User's Gender"
                                         })


CB201909.head(1)

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.73367,-74.0625,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1

In [40]:
DataBike = pd.concat([CB201810, CB201811, CB201812, CB201901, CB201902, CB201903, CB201904, CB201905, CB201905,
          CB201906, CB201907, CB201908, CB201909], ignore_index=True)

DataBike

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0
5,2973,2018-10-01 10:45:17.5980,2018-10-01 11:34:50.9450,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,33621,Customer,1969,0
6,1295,2018-10-01 11:51:25.1460,2018-10-01 12:13:00.9240,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29260,Subscriber,1976,1
7,262,2018-10-01 12:02:33.5180,2018-10-01 12:06:55.6080,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33593,Subscriber,1969,1
8,277,2018-10-01 12:03:52.5690,2018-10-01 12:08:30.0080,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33656,Subscriber,1984,1
9,706,2018-10-01 12:33:40.6430,2018-10-01 12:45:26.9410,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33647,Customer,1969,0
10,262,2018-10-01 13:15:24.3220,2018-10-01 13:19:46.6460,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33621,Subscriber,1973,1
11,1298,2018-10-01 13:19:31.1410,2018-10-01 13:41:09.9350,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,29495,Customer,1969,0
12,1284,2018-10-01 13:19:49.3500,2018-10-01 13:41:14.1370,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,33648,Customer,1969,0
13,213,2018-10-01 13:23:14.9390,2018-10-01 13:26:48.1570,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29252,Subscriber,1974,2
14,142,2018-10-01 13:39:28.2430,2018-10-01 13:41:51.0350,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,29602,Subscriber,1984,2
15,347,2018-10-01 14:34:43.4590,2018-10-01 14:40:31.2630,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29600,Subscriber,1988,1
16,200,2018-10-01 14:53:57.3090,2018-10-01 14:57:17.5880,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29599,Subscriber,1979,2
17,243,2018-10-01 15:15:29.3850,2018-10-01 15:19:33.0390,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,33628,Subscriber,1971,1
18,820,2018-10-01 15:19:02.8500,2018-10-01 15:32:43.1530,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29598,Customer,1969,0
19,820,2018-10-01 15:19:03.7660,2018-10-01 15:32:44.5810,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29307,Customer,1969,0
20,815,2018-10-01 15:29:36.1010,2018-10-01 15:43:12.0120,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,26242,Subscriber,1993,1
21,298,2018-10-01 15:33:29.5650,2018-10-01 15:38:28.1740,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29221,Subscriber,1986,1
22,1232,2018-10-01 15:51:57.4520,2018-10-01 16:12:30.2510,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,26224,Subscriber,1983,1
23,428,2018-10-01 15:54:57.9260,2018-10-01 16:02:06.7370,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29447,Subscriber,1984,1
24,657,2018-10-01 15:58:41.1070,2018-10-01 16:09:38.4610,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29435,Subscriber,1982,1
25,294,2018-10-01 16:09:57.4410,2018-10-01 16:14:51.6760,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,32259,Subscriber,1957,1
26,286,2018-10-01 16:26:35.0910,2018-10-01 16:31:21.7160,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29490,Subscriber,1976,2
27,161,2018-10-01 16:26:48.2600,2018-10-01 16:29:29.3570,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29236,Subscriber,1972,2
28,592,2018-10-01 16:49:16.9190,2018-10-01 16:59:09.6100,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,33619,Subscriber,1983,1
29,259,2018-10-01 16:54:45.3310,2018-10-01 16:59:05.1620,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,33557,Subscriber,1968,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432527,158,2019-09-30 22:15:04.2730,2019-09-30 22:17:42.6490,3185,City Hall,40.717733,-74.043845,3275,Columbus Drive,40.718355,-74.038914,29544,Subscriber,1981,1
432528,171,2019-09-30 22:15:11.0120,2019-09-30 22:18:02.9780,3638,Washington St,40.724294,-74.035483,3199,Newport Pkwy,40.728745,-74.032108,29120,Subscriber,1983,1
432529,566,2019-09-30 22:17:33.2400,2019-09-30 22:26:59.4070,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29257,Subscriber,1971,2
432530,1538,2019-09-30 22:19:26.7710,2019-09-30 22:45:05.1640,3210,Pershing Field,40.742677,-74.051789,3210,Pershing Field,40.742677,-74.051789,29672,Customer,1997,1
432531,1488,2019-09-30 22:19:46.7910,2019-09-30 22:44:35.0620,3210,Pershing Field,40.742677,-74.051789,3210,Pershing Field,40.742677,-74.051789,29468,Customer,1997,2
432532,282,2019-09-30 22:21:06.7120,2019-09-30 22:25:48.7610,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,29120,Subscriber,1983,1
432533,323,2019-09-30 22:21:19.5260,2019-09-30 22:26:42.7410,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29217,Customer,1969,0
432534,257,2019-09-30 22:26:35.7800,2019-09-30 22:30:52.9000,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,29281,Subscriber,1995,1
432535,1728,2019-09-30 22:28:39.7400,2019-09-30 22:57:28.4650,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29571,Subscriber,1990,1
432536,379,2019-09-30 22:29:00.8300,2019-09-30 22:35:20.2080,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,26247,Subscriber,1983,1
432537,192,2019-09-30 22:34:56.1110,2019-09-30 22:38:08.8200,3214,Essex Light Rail,40.712774,-74.036486,3276,Marin Light Rail,40.714584,-74.042817,29477,Subscriber,1963,1
432538,291,2019-09-30 22:35:14.0120,2019-09-30 22:40:05.5670,3186,Grove St PATH,40.719586,-74.043117,3639,Harborside,40.719252,-74.034234,29217,Subscriber,1975,2
432539,2076,2019-09-30 22:35:55.8520,2019-09-30 23:10:32.0110,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29439,Subscriber,1989,2
432540,567,2019-09-30 22:37:46.3150,2019-09-30 22:47:14.0420,3681,Grand St,40.715178,-74.037683,3225,Baldwin at Montgomery,40.723659,-74.064194,29239,Subscriber,1994,1
432541,203,2019-09-30 22:43:58.5770,2019-09-30 22:47:21.7900,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,26247,Subscriber,1977,1
432542,419,2019-09-30 22:46:10.1380,2019-09-30 22:53:09.5060,3203,Hamilton Park,40.727596,-74.044247,3639,Harborside,40.719252,-74.034234,29550,Subscriber,1970,1
432543,248,2019-09-30 22:47:52.4180,2019-09-30 22:52:00.6690,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,26318,Subscriber,1994,2
432544,1094,2019-09-30 22:47:58.0050,2019-09-30 23:06:12.4110,3638,Washington St,40.724294,-74.035483,3638,Washington St,40.724294,-74.035483,29488,Subscriber,1973,2
432545,670,2019-09-30 22:56:09.0580,2019-09-30 23:07:19.5040,3276,Marin Light Rail,40.714584,-74.042817,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29608,Customer,1992,1
432546,129,2019-09-30 22:59:46.0510,2019-09-30 23:01:55.2670,3214,Essex Light Rail,40.712774,-74.036486,3267,Morris Canal,40.712419,-74.038526,26213,Subscriber,1976,1
432547,699,2019-09-30 23:01:39.0500,2019-09-30 23:13:18.8060,3213,Van Vorst Park,40.718489,-74.047727,3280,Astor Place,40.719282,-74.071262,26225,Subscriber,1971,1
432548,429,2019-09-30 23:02:16.6750,2019-09-30 23:09:26.2350,3195,Sip Ave,40.730897,-74.063913,3207,Oakland Ave,40.737604,-74.052478,26318,Subscriber,1984,1
432549,1141,2019-09-30 23:02:32.7230,2019-09-30 23:21:33.7930,3213,Van Vorst Park,40.718489,-74.047727,3280,Astor Place,40.719282,-74.071262,29291,Subscriber,1988,1
432550,644,2019-09-30 23:03:05.1610,2019-09-30 23:13:49.9840,3198,Heights Elevator,40.748716,-74.040443,3199,Newport Pkwy,40.728745,-74.032108,29668,Subscriber,1978,1
432551,445,2019-09-30 23:11:06.6700,2019-09-30 23:18:32.1620,3276,Marin Light Rail,40.714584,-74.042817,3272,Jersey & 3rd,40.723332,-74.045953,29209,Subscriber,1997,2
432552,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,Subscriber,1962,1
432553,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,Subscriber,1984,1
432554,94,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,1
432555,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1
432556,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1

In [41]:
DataBike["User's Birth Year"].unique()

array([1971, 1973, 1958, 1982, 1969, 1976, 1984, 1974, 1988, 1979, 1993,
       1986, 1983, 1957, 1972, 1968, 1985, 1941, 1989, 1987, 1991, 1981,
       1977, 1975, 1992, 1980, 1994, 1990, 1996, 1963, 1962, 1970, 1964,
       1995, 1978, 1949, 1967, 1961, 1959, 1950, 1956, 1960, 1965, 1966,
       1954, 1999, 2002, 1955, 1997, 1952, 1947, 1998, 1944, 1953, 1951,
       1888, 1942, 2000, 2001, 1946, 1940, 1943, 1948, 1904, 2003, 1918,
       1889, 1900, 1887, 1905])

In [43]:
#Drop the tail end of User's Birth Years 2 standard deviations below the mean
DataBike["User's Birth Year"].mean()-(2*DataBike["User's Birth Year"].std())

1960.8434280514866

In [46]:
DataBike = DataBike.drop(DataBike.index[(DataBike["User's Birth Year"] < 1961)])
DataBike

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0
5,2973,2018-10-01 10:45:17.5980,2018-10-01 11:34:50.9450,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,33621,Customer,1969,0
6,1295,2018-10-01 11:51:25.1460,2018-10-01 12:13:00.9240,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29260,Subscriber,1976,1
7,262,2018-10-01 12:02:33.5180,2018-10-01 12:06:55.6080,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33593,Subscriber,1969,1
8,277,2018-10-01 12:03:52.5690,2018-10-01 12:08:30.0080,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33656,Subscriber,1984,1
9,706,2018-10-01 12:33:40.6430,2018-10-01 12:45:26.9410,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33647,Customer,1969,0
10,262,2018-10-01 13:15:24.3220,2018-10-01 13:19:46.6460,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33621,Subscriber,1973,1
11,1298,2018-10-01 13:19:31.1410,2018-10-01 13:41:09.9350,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,29495,Customer,1969,0
12,1284,2018-10-01 13:19:49.3500,2018-10-01 13:41:14.1370,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,33648,Customer,1969,0
13,213,2018-10-01 13:23:14.9390,2018-10-01 13:26:48.1570,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29252,Subscriber,1974,2
14,142,2018-10-01 13:39:28.2430,2018-10-01 13:41:51.0350,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,29602,Subscriber,1984,2
15,347,2018-10-01 14:34:43.4590,2018-10-01 14:40:31.2630,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29600,Subscriber,1988,1
16,200,2018-10-01 14:53:57.3090,2018-10-01 14:57:17.5880,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29599,Subscriber,1979,2
17,243,2018-10-01 15:15:29.3850,2018-10-01 15:19:33.0390,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,33628,Subscriber,1971,1
18,820,2018-10-01 15:19:02.8500,2018-10-01 15:32:43.1530,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29598,Customer,1969,0
19,820,2018-10-01 15:19:03.7660,2018-10-01 15:32:44.5810,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29307,Customer,1969,0
20,815,2018-10-01 15:29:36.1010,2018-10-01 15:43:12.0120,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,26242,Subscriber,1993,1
21,298,2018-10-01 15:33:29.5650,2018-10-01 15:38:28.1740,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29221,Subscriber,1986,1
22,1232,2018-10-01 15:51:57.4520,2018-10-01 16:12:30.2510,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,26224,Subscriber,1983,1
23,428,2018-10-01 15:54:57.9260,2018-10-01 16:02:06.7370,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29447,Subscriber,1984,1
24,657,2018-10-01 15:58:41.1070,2018-10-01 16:09:38.4610,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,29435,Subscriber,1982,1
26,286,2018-10-01 16:26:35.0910,2018-10-01 16:31:21.7160,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29490,Subscriber,1976,2
27,161,2018-10-01 16:26:48.2600,2018-10-01 16:29:29.3570,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29236,Subscriber,1972,2
28,592,2018-10-01 16:49:16.9190,2018-10-01 16:59:09.6100,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,33619,Subscriber,1983,1
29,259,2018-10-01 16:54:45.3310,2018-10-01 16:59:05.1620,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,33557,Subscriber,1968,1
30,301,2018-10-01 16:55:25.2320,2018-10-01 17:00:27.1560,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29303,Subscriber,1988,1
31,283,2018-10-01 16:56:14.7920,2018-10-01 17:00:58.1350,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,27083,Subscriber,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432526,294,2019-09-30 22:12:43.1190,2019-09-30 22:17:37.5390,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29488,Subscriber,1983,1
432527,158,2019-09-30 22:15:04.2730,2019-09-30 22:17:42.6490,3185,City Hall,40.717733,-74.043845,3275,Columbus Drive,40.718355,-74.038914,29544,Subscriber,1981,1
432528,171,2019-09-30 22:15:11.0120,2019-09-30 22:18:02.9780,3638,Washington St,40.724294,-74.035483,3199,Newport Pkwy,40.728745,-74.032108,29120,Subscriber,1983,1
432529,566,2019-09-30 22:17:33.2400,2019-09-30 22:26:59.4070,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29257,Subscriber,1971,2
432530,1538,2019-09-30 22:19:26.7710,2019-09-30 22:45:05.1640,3210,Pershing Field,40.742677,-74.051789,3210,Pershing Field,40.742677,-74.051789,29672,Customer,1997,1
432531,1488,2019-09-30 22:19:46.7910,2019-09-30 22:44:35.0620,3210,Pershing Field,40.742677,-74.051789,3210,Pershing Field,40.742677,-74.051789,29468,Customer,1997,2
432532,282,2019-09-30 22:21:06.7120,2019-09-30 22:25:48.7610,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,29120,Subscriber,1983,1
432533,323,2019-09-30 22:21:19.5260,2019-09-30 22:26:42.7410,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29217,Customer,1969,0
432534,257,2019-09-30 22:26:35.7800,2019-09-30 22:30:52.9000,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,29281,Subscriber,1995,1
432535,1728,2019-09-30 22:28:39.7400,2019-09-30 22:57:28.4650,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29571,Subscriber,1990,1
432536,379,2019-09-30 22:29:00.8300,2019-09-30 22:35:20.2080,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,26247,Subscriber,1983,1
432537,192,2019-09-30 22:34:56.1110,2019-09-30 22:38:08.8200,3214,Essex Light Rail,40.712774,-74.036486,3276,Marin Light Rail,40.714584,-74.042817,29477,Subscriber,1963,1
432538,291,2019-09-30 22:35:14.0120,2019-09-30 22:40:05.5670,3186,Grove St PATH,40.719586,-74.043117,3639,Harborside,40.719252,-74.034234,29217,Subscriber,1975,2
432539,2076,2019-09-30 22:35:55.8520,2019-09-30 23:10:32.0110,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29439,Subscriber,1989,2
432540,567,2019-09-30 22:37:46.3150,2019-09-30 22:47:14.0420,3681,Grand St,40.715178,-74.037683,3225,Baldwin at Montgomery,40.723659,-74.064194,29239,Subscriber,1994,1
432541,203,2019-09-30 22:43:58.5770,2019-09-30 22:47:21.7900,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,26247,Subscriber,1977,1
432542,419,2019-09-30 22:46:10.1380,2019-09-30 22:53:09.5060,3203,Hamilton Park,40.727596,-74.044247,3639,Harborside,40.719252,-74.034234,29550,Subscriber,1970,1
432543,248,2019-09-30 22:47:52.4180,2019-09-30 22:52:00.6690,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,26318,Subscriber,1994,2
432544,1094,2019-09-30 22:47:58.0050,2019-09-30 23:06:12.4110,3638,Washington St,40.724294,-74.035483,3638,Washington St,40.724294,-74.035483,29488,Subscriber,1973,2
432545,670,2019-09-30 22:56:09.0580,2019-09-30 23:07:19.5040,3276,Marin Light Rail,40.714584,-74.042817,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29608,Customer,1992,1
432546,129,2019-09-30 22:59:46.0510,2019-09-30 23:01:55.2670,3214,Essex Light Rail,40.712774,-74.036486,3267,Morris Canal,40.712419,-74.038526,26213,Subscriber,1976,1
432547,699,2019-09-30 23:01:39.0500,2019-09-30 23:13:18.8060,3213,Van Vorst Park,40.718489,-74.047727,3280,Astor Place,40.719282,-74.071262,26225,Subscriber,1971,1
432548,429,2019-09-30 23:02:16.6750,2019-09-30 23:09:26.2350,3195,Sip Ave,40.730897,-74.063913,3207,Oakland Ave,40.737604,-74.052478,26318,Subscriber,1984,1
432549,1141,2019-09-30 23:02:32.7230,2019-09-30 23:21:33.7930,3213,Van Vorst Park,40.718489,-74.047727,3280,Astor Place,40.719282,-74.071262,29291,Subscriber,1988,1
432550,644,2019-09-30 23:03:05.1610,2019-09-30 23:13:49.9840,3198,Heights Elevator,40.748716,-74.040443,3199,Newport Pkwy,40.728745,-74.032108,29668,Subscriber,1978,1
432551,445,2019-09-30 23:11:06.6700,2019-09-30 23:18:32.1620,3276,Marin Light Rail,40.714584,-74.042817,3272,Jersey & 3rd,40.723332,-74.045953,29209,Subscriber,1997,2
432552,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,Subscriber,1962,1
432553,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,Subscriber,1984,1
432555,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1
432556,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1

In [47]:
#Calculate Age based on Birth Year
DataBike['Age'] = 2019 - DataBike["User's Birth Year"]
DataBike['Age'] = DataBike['Age'].astype(int)
DataBike.head()

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender,Age
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2,48
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1,46
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1,37
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0,50
5,2973,2018-10-01 10:45:17.5980,2018-10-01 11:34:50.9450,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,33621,Customer,1969,0,50

In [50]:
#Dropping Unknown (Gender=0) Genders
DCB = DataBike.drop(DataBike.index[(DataBike["User's Gender"] == 0)])
DCB.head()

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender,Age
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2,48
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1,46
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1,37
6,1295,2018-10-01 11:51:25.1460,2018-10-01 12:13:00.9240,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29260,Subscriber,1976,1,43
7,262,2018-10-01 12:02:33.5180,2018-10-01 12:06:55.6080,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33593,Subscriber,1969,1,50

In [65]:
#Changing gender values from int to strings
DCB["User's Gender"] = DCB["User's Gender"].replace({1:"Male", 2:"Female"})
DCB.head()

,Trip Duration (secs),Start Date/Time,Stop Date/Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User's Birth Year,User's Gender,Age
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,Female,48
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,Male,46
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,Male,37
6,1295,2018-10-01 11:51:25.1460,2018-10-01 12:13:00.9240,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29260,Subscriber,1976,Male,43
7,262,2018-10-01 12:02:33.5180,2018-10-01 12:06:55.6080,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,33593,Subscriber,1969,Male,50

In [66]:
DCB.to_csv('DataCityBike.csv', encoding='utf-8', index=False)